@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-inter: var(--font-inter);
  --font-oswald: var(--font-oswald);
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inter;

}
